.about-section {
    border: solid black 1px;
    margin: auto;
    height: min-content;
    width: 75%;
    background: white;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.about-link-section {
    display: flex;
    flex-direction: column;
}

.about-link {
    font-weight: 800;
    color: blue;
}