.about-section {
    border: solid black 1px;
    margin: auto;
    height: min-content;
    width: 75%;
    background: white;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.about-link-section {
    display: flex;
    flex-direction: column;
}

.about-link {
    font-weight: 800;
    color: blue;
}

@media screen and (max-width: 800px) {
    .about-section {
        height: auto;
        width: 80%;
        margin: auto;
    }

}