.critter-card{
    border: solid black 2px;
    position: relative;
    width: 95%;
    height: 115px;
    overflow-x:auto;
    background: white;
    margin-top: 7px;
}

.critter-card:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.critter-icon{
    width:auto;
    height: 50px;
}

.critter-caught-checkmark {
    height: 50px;
    position: absolute;
    right: 6px;
}