.critter-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(8rem, 3fr));
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 70%;
    align-content: center;
    justify-self: center;
    margin: auto;
}

.critter-title{
    font-weight: 700;
}