.critter-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 2fr));
    grid-template-rows: repeat(auto-fit, minmax(8rem, 3fr));
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 70%;
    align-content: center;
    justify-self: center;
    margin: auto;
}

.critter-title{
    font-weight: 700;
}

.hemisphere-selection {
    display: flex;
    justify-content: space-evenly;
}

.set-hemisphere-button {
    background: white;
    color: black;
    border: solid black 1px;
    font-weight: 600;
}

.set-hemisphere-button:hover{
    transform: scale(1.1);
    cursor: pointer;
}