footer {
    border: solid black 1px;
    height: 20%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 800px) {
    footer {
        height: auto;
        width: 100%;
        margin: auto;
        margin-top: 2%;
    }

}