.header {
    border-bottom: solid black 1px;
    background: white;
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-link-section {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    height: inherit;
    font-weight: 700;
    align-items: center;
}

.nav-active {
    color: purple;
    /* background-color: white; */
    padding: 16px 28px;
}

.inactive {
    color: black;
    /* background-color: #4e9ce4; */
    padding: 16px 28px;
}

.inactive:hover {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 1425px) {
    .nav-active {
        padding: 8px 28px;
    }
    
    .inactive {
        padding: 8px 28px;
    }
  }