.header {
    border-bottom: solid black 1px;
    background: white;
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-link-section {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    height: inherit;
    font-weight: 700;
    align-items: center;
}

.nav-active {
    color: purple;
    padding: 16px 28px;
}

.inactive {
    color: black;
    padding: 16px 28px;
}

