.App {
  text-align: center;
  background: linear-gradient(180deg, #4e9ce4 0%, rgba(229, 229, 229, 0) 80%);
  background-size: cover;
  height: 100vh;
  overflow-x:hidden;
  background-position: center;
}

